#titleForm {
    text-align: center;
    font-size: 40px; 
    margin-top: 50px;   
    margin-bottom: 50px;
    color: #5ea5ab;
}

#instruction {
    font-size: 20px;
    margin-top: 30px;   
    margin-bottom: 30px;
}

#contact-info {
    text-align: center;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
}

input, select {
    margin-bottom: 20px;
}

#inputGroupFile022 {
    margin-top: 0px;
    margin-bottom: 20px;
}

button {
    margin-top: 30px;
    margin-bottom: 30px;
}

form {
    background-color: #fdfdfd;
    padding: 30px 30px 10px 30px;
    border-radius: 10px;
}

body {
    margin-bottom: 50px;
}

#contact-info {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #386266;
}
