.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body {
    background-color: #fdfdfd;
}

#title {
    text-align: center;
}

/* table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  } */


#searchTable {
    background-color: #aedbdf;
    padding: 20px;
    border-radius: 5px;
}

th {
    font-size: 20px;
}

td {
    padding: 15px;
}

.dropdown {
    width: 100%;
    background-color: snow;
    padding: 8px;
}

#question {
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

#title {
    font-size: 48px;
}

#logo {
    width: 15%;
}

#report-missing-pet {
    color: red;
    font-weight: 500;
    margin-right: 10px;
}

#report-missing-pet:hover {
    color: crimson;
}