#searchTable {
    padding: 30px;
    background-color: #ededed;
    border-radius: 5px;
    margin-bottom: 50px;
}

th {
    font-size: 20px;
}

td {
    padding: 15px;
}

#report-missing-pet {
    margin-right: 10px;
    color: red;
    font-weight: 500;
}

#report-missing-pet:hover {
    color: crimson;
}

body {
    padding-bottom: 40px;
}