body {
    padding-bottom: 40px;
    margin-bottom: 15px;
}

.pet-container {
    padding-left: 30px;
    margin-left: 30px;
    font-size: 20px;
}

h1 {
    margin-bottom: 20px;
}

.owner-container {
    font-size: 18px;
    padding-left: 30px;
    margin-left: 30px;
}

.item {
    
}