#searchTable {
    padding: 30px;
    background-color: #ededed;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

th {
    font-size: 20px;
}

td {
    padding: 15px;
}

body {
    padding-bottom: 50px;
}